<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{title}}</title>
        {% else %}
        <title>Flask Mini-Blog</title>
        {% endif %}
    </head>
    <body>
        <div class="Navigation">
            <a href = "{{ url_for('index') }}"><h1>Flask Mini-Blog</h1></a>
            {% if current_user.is_authenticated %}
            <a href = "{{ url_for('logout') }}">Logout</a>
            {% else %}
            <a href = "{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>
        <hr>

        {% with all_flashed_messages = get_flashed_messages() %}
        {% if all_flashed_messages %}
            <ul>
                {% for msg in all_flashed_messages %}
                    <li>{{ msg }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        <hr>

        {% block content %}
        {% endblock content %}
    </body>
</html>